<a href="https://colab.research.google.com/github/DipankarJDutta/DipankarJDutta-Biomarker-discovery-from-B-T-cells-in-FASD-GDM-with-LSTM/blob/Peering-inside-the-Black-Box/B-T-Median_PCA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Fixing random seed to 007 for reproducibility
from numpy.random import seed
seed(7)
from tensorflow import set_random_seed
set_random_seed(7)

In [0]:
# Loading essentials
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
from numpy import loadtxt
%matplotlib inline

In [26]:
# Load dataset into panada dataframe
df = pd.read_csv('B-T-median_+col-names_+learner-type.csv')
df.head()

   Tnfaip3  Chchd7   Gnas   Pld4  ...    Wac  Tvp23b  Usp15       Learner
0    0.361   0.723  0.802  1.000  ...  0.956   0.379  0.833  Good-learner
1    0.692   0.676  0.686  1.000  ...  0.000   0.000  0.000  Good-learner
2    1.000   1.000  0.711  0.805  ...  0.000   0.000  0.000  Bad -learner
3    0.458   0.610  1.000  1.000  ...  0.868   1.000  0.914  Bad -learner
4    0.294   0.723  1.000  0.991  ...  0.831   1.000  0.719  Good-learner

[5 rows x 30 columns]

In [0]:
# Define variables
variables = ['Tnfaip3', 'Chchd7', 'Gnas', 'Pld4', 'Rasa1', 'Dapp1', 'Mtpap', 'Ttc3', 'Stk38', 'Ets1', 'Rars2', 'Wdr43', 'Bin1', 'Brox', 'Ddx50', 'Kdm7a', 'Mapk9', 'Ms4a6b', 'Zfp639', 'Celf2', 'Setdb2', '2310001H17Rik', 'Umps', 'Tcrg-C4', 'Ptcd3', 'Ets1', 'Wac', 'Tvp23b', 'Usp15']
x = df.loc[:, variables].values
y = df.loc[:, ['Learner']].values

#Convert x into a panda dataframe
x = pd.DataFrame(x)

In [28]:
#Perform PCA
from sklearn.decomposition import PCA
pca = PCA(n_components=2)
x_pca = pca.fit_transform(x)
x_pca = pd.DataFrame(x_pca)
x_pca.head()

          0         1
0 -0.020933  0.294515
1  2.317600  0.455315
2  2.322339 -0.395316
3 -0.648778  0.105842
4  0.203962  0.637994

In [29]:
# How much of the variance is explained by each of the two principal components? 
explained_variance = pca.explained_variance_ratio_
explained_variance

array([0.34554036, 0.26125793])